<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post">
      <div class="">
        <label for="User_Name">Email: </label>
        <input type="text" name="username" value="" id="User_Name">
      </div>
      <div class="">
        <label for="User_Password">Password: </label>
        <input type="text" name="password" value="" id="User_Password">
      </div>
      <input type="submit" name="" value="Log In">
    </form>
  </body>
</html>